body {
	background:#efefef;
}

.server.box {
	width:200px;
	display:inline-block;
	background:#fff;
	margin:5px;
	border:1px solid #313131;
	transition: width .3s;
}

.server.name {
	padding:10px 0;
	text-align:center;
	background:#313131;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
}

.server.location {
	padding:5px 0;
	text-align:center;
	background:#ffd400;
	font-size:14px;
	border-bottom:1px solid #313131;
	font-family: 'Roboto', sans-serif;
}

.server.latency {
	padding:15px 0;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:18px;
    transition: background .3s;
}

.servers.container {
	position:fixed;
	top:50%; left:50%;
	transform:translate(-50%,-50%);
	width:1060px;
	display:inline-block;
}

@media only screen and (max-width: 1090px) {
	.servers.container {
		position: unset;
		top: unset; left: unset;
		transform: unset;
		padding: 10px 0;
		width: calc(100% - 15px);
		margin: 0 auto;
		display: table;
	}

	.server.box {
		width: 180px;
	}
}

@media only screen and (max-width: 430px) {
	.server.box {
		width: 150px;
	}
}